<h1>Details</h1>
<ul>

<li>Full Name- <%= @details.first[:name].titleize%> </li>
<li>Age             - <%= @details.first[:age]%> </li>
<li>Designation    - <%= @details.first[:designation]%> </li>
<li>Date of joining - <%= @details.first[:date_of_joining]%> </li>
</ul>

